{% extends "XabbuhPandaDemoBundle::layout.html.twig" %}

{% block body %}
    {{ parent() }}

    {% for video in videos %}
        <div class="video">
            <img src="{{ cloud.url }}{{ video.id }}_1.jpg"/>
            <div class="info">
                <a class="delete-button" href="{{ path("xabbuh_panda_demo_delete_video", {"videoid": video.id}) }}">X</a>
                {{ video.originalFilename }}<br/>
                Duration: {{ video.duration }}ms
                <br/>
                Audio / video codec:
                {{ video.videoCodec }} / {{ video.audioCodec }}
            </div>
        </div>
    {% else %}
        <div>No videos found.</div>
    {% endfor %}
{% endblock %}